# Ignore node_modules
node_modules
npm-debug.log

# Ignore build output (Angular's dist folder)
dist

# Ignore local environment files
*.env
.env.local
.env.development
.env.production
.env.test

# Ignore IDE and editor settings
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Ignore logs and temporary files
logs
*.log
tmp
*.tmp
*.swp
*.bak

# Ignore Docker-related files (if you don't want to copy these)
Dockerfile
docker-compose.yml
.dockerignore

# Ignore git-related files
.git
.gitignore

# Ignore Nginx config (since it's already in the Docker image)
nginx.conf
